SLASHWORK_GRAPHQL_URL=https://your-instance.slashwork.com/graphql
SLASHWORK_APP_TOKEN=your_application_token
SLASHWORK_GROUP_ID=your_stream_group_id
GITHUB_WEBHOOK_SECRET=your_github_webhook_secret
PORT=3000
