# Slashwork API (see https://slashwork.com/developer)
SLASHWORK_GRAPHQL_URL=https://your-instance.slashwork.com/graphql
SLASHWORK_ACCESS_TOKEN=your_application_access_token

# GitHub webhook signature secret
GITHUB_WEBHOOK_SECRET=your_github_webhook_secret

PORT=3000
